* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: auto;
}

.heading {
    background-image: url(./donate.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
    width: auto;
}

.heading h1 {
    color: #fff;
    position: absolute;
    top: 150px;
    left: 450px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgba(153, 152, 152, 0.377);
    border-radius: 5px;
    padding: 0 5px;
}

.h1-right {
    position: absolute;
    left: 70px;
    background: rgba(153, 152, 152, 0.377);
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 5px;
}

.heading p {
    position: absolute;
    top: 250px;
    left: 486px;
    color: #fff;
}

.button {
    position: absolute;
    top: 350px;
    left: 575px;
    background: rgb(219, 99, 99);

    padding: 10px 15px;
}

.button a {
    text-decoration: none;
    color: #fff;
    display: inline-block;

}

.button:hover {
    background: rgba(71, 69, 69, 0.877);
    color: #fff;
    transition: .4s;
}